footer {
    border-top: .1rem solid var(--primary);
    padding: 7rem 0 5rem;

    .inner.foot-inner {
        display: flex;
        justify-content: space-between;
        max-width: 172rem;
        margin: auto;
        position: relative;
        gap: 5rem;

        @media screen and (max-width:1719px) {
            padding: 0 2rem;
            gap: 3rem;
        }

        @media screen and (max-width:1111px) {
            flex-direction: column;
            padding: 0 2rem 10rem;
        }

        .left {
            flex: 1;

            h3 {
                margin-bottom: 4rem;
            }

            .foot-lst-1 li {
                color: #5b5b5b;
                font-size: 1.3rem;
                line-height: 2.5rem;
            }

            @media screen and (max-width:1111px) {
                .footer-legal {
                    display: none;
                }
            }
        }

        .center {
            flex: 2;

            .foot-menus {
                display: flex;

                >div {
                    flex: 1;

                    ul li a {
                        display: block;
                        line-height: 1;
                        font-size: 1.5rem;
                        margin-top: 1.2rem;
                        color: var(--muted);
                    }

                }
            }

            @media screen and (max-width:1111px) {
                display: none;
            }
        }

        .right {
            flex: 1;

            .cs-box a {
                display: block;
                font-size: 3rem;
                color: var(--primary);
                margin-bottom: 1.7rem;
                font-weight: 400;
            }

            p {
                font-size: 1.4rem;
                color: #5b5b5b;
                line-height: 2.2rem;
            }

            .talk-btn {
                border: .1rem solid var(--primary);
                display: inline-block;
                padding: 1.4rem 7.2rem 1.3rem;
                font-size: 1.3rem;
                border-radius: 4.6rem;
                margin-top: 2rem;
                color: var(--primary);
                transition: all .3s;

            }

            .footer-legal {
                display: none;
            }

            @media screen and (max-width:1111px) {
                .footer-legal {
                    display: block;
                }

                .cus-wrap {
                    border-top: .1rem solid var(--line);
                    border-bottom: .1rem solid var(--line);
                    padding: 1.5rem 0;
                    margin-bottom: 2rem;

                    h4 {
                        position: relative;
                        margin-bottom: 0;
                        .m-plus,
                        .m-plus::after {
                            display: block;
                            content: "";
                            width: 1.4rem;
                            height: .2rem;
                            position: absolute;
                            background-color: var(--primary);
                            right: 0;
                            top: 50%;
                            transition: all .3s;
                        }
                        .m-plus::after {
                            transform: rotate(90deg);
                        }
                    }
                    .hidden {
                        height: 0;
                        overflow: hidden;
                        transition: height 0.4s ease;
                        .cs-box{
                            margin-top: 2rem;
                        }
                    }
                    &.open {
                        h4{
                            .m-plus::after {
                                transform: rotate(0deg);
                            }
                        }
                    }
                }
            }
        }

        h4 {
            font-size: 1.8rem;
            color: var(--primary);
            font-family: "Source Serif Pro", serif;
            font-style: italic;
            font-weight: 400;
            margin-bottom: 2.5rem;
        }

        .footer-legal {
            p {
                color: var(--primary);
                font-size: 1.2rem;
                padding: 3rem 0 6rem;
            }

            .legal-links a {
                display: inline-block;
                margin-right: 2rem;
                font-size: 1.3rem;
                color: #6f6f6f;
            }
        }
        .sns-links {
            display: flex;
            gap: 5rem;
            margin-top: 2rem;

        }
    }
}