footer {
    border-top: .1rem solid var(--primary);
    padding: 7rem 0 5rem;

    .inner.foot-inner {
        display: flex;
        justify-content: space-between;
        max-width: 172rem;
        margin: auto;
        position: relative;
        gap: 5rem;

        .left {
            flex: 1;

            h3 {
                margin-bottom: 4rem;
            }

            .foot-lst-1 li {
                color: #5b5b5b;
                font-size: 1.3rem;
                line-height: 2.5rem;
            }
        }

        .center {
            flex: 2;

            .foot-menus {
                display: flex;

                >div {
                    flex: 1;

                    ul li a {
                        display: block;
                        line-height: 1;
                        font-size: 1.5rem;
                        margin-top: 1.2rem;
                        color: var(--muted);
                    }
                }
            }
        }

        .right {
            flex: 1;

            .cs-box a {
                display: block;
                font-size: 3rem;
                color: var(--primary);
                margin-bottom: 1.7rem;
                font-weight: 400;
            }

            p {
                font-size: 1.4rem;
                color: #5b5b5b;
                line-height: 2.2rem;
            }

            .talk-btn {
                border: .1rem solid var(--primary);
                display: inline-block;
                padding: 1.4rem 7.2rem 1.3rem;
                font-size: 1.3rem;
                border-radius: 4.6rem;
                margin-top: 2rem;
                color: var(--primary);
                transition: all .3s;
            }

            .talk-btn:hover {
                background-color: var(--secondary);
                transform: scale(1.05);
                font-size: 1.4rem;
            }

            .footer-legal {
                display: none;
            }

        }

        h4 {
            font-size: 1.8rem;
            color: var(--primary);
            font-family: "Source Serif Pro",
                serif;
            font-style: italic;
            font-weight: 400;
            margin-bottom: 2.5rem;
        }

        .footer-legal {
            p {
                color: var(--primary);
                font-size: 1.2rem;
                padding: 3rem 0 6rem;
            }

            .legal-links a {
                display: inline-block;
                margin-right: 2rem;
                font-size: 1.3rem;
                color: #6f6f6f;
            }
        }

        .sns-links {
            display: flex;
            gap: 5rem;
            margin-top: 2rem;
            
        }
    }
}