.inner.skincare-inner {
    display: flex;
    .t-wrap{
        h2.tit{
            color: var(--secondary);
            margin-bottom: 3rem;
        }
    }

    .slider-wrap {
        position: relative;
        width: 75rem;
        height: 53rem;
        transform: translateX(10rem);

        .in {
            position: absolute;
            width: calc(200% + 3rem);
            height: 100%;
            left: 0;
            top: 0;
            .skincare-slider {
                height: 100%;
                font-size: 0;
                a{
                    display: block;
                    height: 100%;
                }
            }
        }
    }
}