.app-container {
    &.up {
        .TopBanner{
            top:-110%
        }
        header {
            top: 0;
        }
    }

    .Section {
        padding: 6rem 0;
        &#Hero {
            padding: 0;
        }
    }

    .Section,
    header,
    footer {
        .inner {
            max-width: var(--maxw);
            height: 100%;
            position: relative;
            margin: auto;
        }
    }
}

h2.tit {
    font-size: 7.3rem;
    font-weight: 200;
}
p.txt {
    font-size: 2.1rem;
    list-style:1.2
}