.app-container {
    &.up {
        .TopBanner {
            top: -110%
        }

        header {
            top: 0;
        }
    }

    &.scrolled {
        header {
            background: #ffffff;
            background: linear-gradient(180deg, rgba(255, 255, 255, 1) 24%, rgba(255, 255, 255, 0) 100%);
        }
        .fixed-top {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .Section {
        padding: 6rem 0;
        overflow: hidden;
        position: relative;

        &#Hero {
            padding: 0;
        }
        &#Collection{
            background-color: var(--bg2);
            padding: 10rem 0;
        }
        &#Skincare{
            padding: 20rem 0 0;

            &::after {
                display: block;
                content:"";
                position: absolute;
                width: 100%;
                height: 10rem;
                left: 0;
                bottom: 0;
                background-color: var(--bg2);
                z-index: -1;
            }
        }
        &#Instar {
            background-color: var(--bg2);

        }
    }

    .Section,
    header {
        .inner {
            max-width: 128rem;
            height: 100%;
            position: relative;
            margin: auto;
        }
    }
}

h2.tit {
    font-size: 7.3rem;
    font-weight: 200;
    line-height: 1;
}

p.txt {
    font-size: 2.1rem;
    list-style: 1.2
}
p.txt-4 {
    font-size: 2rem;
    list-style: 1;
    color: var(--muted);
    font-family: "Source Serif Pro", serif;
}

a.btn {
    display: inline-block;
    margin-top: 3rem;
    padding: 1.7rem 6.8rem;
    font-size: 1.5rem;
    position: relative;
    color: var(--bg);
    overflow: hidden;
    border-radius: 6rem;
    border: .1rem solid transparent;
    transition: all .8s;

    &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        background-color: var(--secondary);
        left: 0;
        top: 0;
        z-index: -1;
        transition: all .5s;

    }

    &:hover {
        // border: .1rem solid var(--secondary);
        color: var(--secondary);

        &:after {
            background-color: var(--bg);
        }
    }

}

@keyframes up {
    from{transform: translateY(0);}
    to{transform: translateY(2rem);}
}